<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPLOYEE-PRO</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
<div class="hero-section">
    <div class="hero-content">
        <h1>Welcome to EmployeePro</h1>
        <p>Effortless Employee Management for a Smarter Workplace</p>
        <a href="../register" class="btn">Get Started</a>
    </div>
</div>

<section class="features">
    <div class="feature">
        <h2>Employee Management</h2>
        <p>Track and manage employee records with ease.</p>
    </div>
    <div class="feature">
        <h2>Leave Tracking</h2>
        <p>Apply, approve, and manage leaves in real-time.</p>
    </div>
    <div class="feature">
        <h2>Payroll Processing</h2>
        <p>Generate payslips and automate salary calculations.</p>
    </div>
</section>
    </body>
    </html>
    